.nopadding{
  padding: 0px;
  margin: 0px;
}

.text-over-img{
  z-index: 1;
  margin-top: -90px;
  padding-bottom: 30px;
}

.nodot{
  list-style-type: none;
}

.carousel-img{
  height: fit-content;

}