.nopadding{
  padding: 0px;
  margin: 0px;
}

.text-over-img{
  z-index: 1;
  margin-top: -90px;
  padding-bottom: 30px;
}

.nodot{
  list-style-type: none;
}

.carousel-img{
  height: fit-content;

}

.footer {
  position: relative;
  clear:both;
}

header a {
  color:white;
  text-decoration: none;
}

header a:hover {
  color: white;
}

.img_list{
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .img_list {width: 50%;}
}              
@media only screen and (min-width: 600px) {
  .img_list {width: 25%;}
}